body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg);
    background-repeat: no-repeat;
    background-size: 2600px 2000px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(162, 179, 162), rgb(62, 110, 68), rgb(25, 31, 25)) ;
  }
  /* What kind of selector is this? */
  .logo {
    width: 75px;
    height: 75px;
    margin: 3% auto;
    margin-top: -35pt;
    margin-left: 143pt;

  }

  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;

  }

  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 25% 30% ;
    min-width: 900pt;

  }

  /* This is an element within an element selector */ 
  nav > a {
    margin: 1% 1% 1%;
    height: 15%;
    width: 100%;
    color: rgb(204, 204, 204);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    border-radius: 80px;
    background: transparent;
    padding: 20px;
    text-align: center;
    border: 2px solid white;  

  }

  .has-border {
    border-radius: 25px;
    border: 2px solid #022902;
    background: url(plantbackground.jpg);
    padding: 20px;
    
    }

  nav {
    display: run-in ;
    justify-content: inline-flex;
    width: 800px;
    padding-right: 20%;
    position: sticky ;
    float: right ;

  }
  /* This is an ID selector */
  #profile-pic {
    width: 400px;
    height: 400px;
    border-radius: 30%;
    padding: 35px ;
    position: ;
   
  }

  #name-card{
   width: 100%;
   grid-column:1/span 2 ;

    
  }

  h2 {
    grid-column: 1/3;
    margin: 50px;
    font-style: italic;
    color: rgb(108, 139, 110) ;
  }

.paragraphstyle{
  grid-column: 1/3;
  padding: 15pt;  
  font: small;  
  font-size: smaller;
  color: aliceblue;
  font-style: normal;
  font-weight: lighter;
  }

  .small-text {
    grid-column: 2/3;
    color: white;
    font-size: 10px;
    margin: 3% auto;
  }

  button {
    display: block;
    grid-column: 3/ 3;
    margin: 50px auto;
    margin-top: -30pt;
    margin-left: 40pt;
    width: 355px;
    height: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    border-radius: 25px;
    background: url(backgroundimagewithflowers.jpg);
    padding: 10px;
    padding-bottom: 5%;
    text-align: center;
    color: white;
    letter-spacing: 16px;
    font-style: bold;
    position: sticky;
    max-width: 400pt;
    max-height: 70pt;
    font: oblique;
    
  }